header {
    padding-bottom: 20px;
}
:root {
    --animate-duration: 200ms;
    user-select: none;
}
body {
    color:black;
    background:url("css-assets/blackjack-background.png");
}
nav {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: rgb(0,128,0);
    user-select: none;
}
nav div {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: green;
  }
  nav > div:last-child {
    margin-left: auto;
  }
tbody {
    justify-content: center;
    text-align: center;
}
.menuItems:hover {
    background-color: rgb(40,150,40);
}
#card-icon {
    height: 200px;
}
img {
    padding: 5px;
}
#deck {
    height: 200px;
    position:relative;
    top:-10px
}
#announcements-box {
    height: 90px;
    margin: 10px 0 10px 0;
}
tr {
    line-height: 70px;
}
button {
    margin: 10px;
    border: 2px solid black;
}
#player-space {
    height: 100px;
}
#dealer-hand {
    background-color: rgba(0,0,0,.4);
    padding: 5px;
    margin-bottom:20px;
    color: pink;
}
#player-hand {
    background-color: rgba(0,0,0,.4);
    padding: 5px;   
    color: lightblue;
}
#reset-game:hover {
    cursor: pointer;
}
#dealer-space {
    height:250px;
}
#dealer-space img {
    width:130px;
    margin-bottom: 20px;
}
#player-space img {
    width:130px;
    margin-top: 20px;
}
.preload-elements img {
    height:50px;
    position: absolute;
    top: -500px;
    overflow: hidden;
}
#dealer-spacer {
    margin-top: 150px;
}
#game-stats {
    padding: 5px;
    margin-bottom:20px;
    color: white;
}
#current-bet {
    padding: 5px;
    margin-bottom:20px;
    color: white;
    background-color: rgba(0,0,0,.4);
}
#announcements img {
    height: 75px;
}
#splash {
    background-color: rgba(255,255,255,0.7);
    width:600px;
    padding: 80px 50px 50px 50px;
    --animate-duration:.75s
}
#playing-space {
    display:none;
    --animate-duration:.75s;
    padding: 20px 0 20px 0;
    overflow-x: hidden;
}
#betting-buttons button {
    margin: 0;
}
#clear-bet {
    margin: 10px 0 10px 0;
}
#bet-amount {
    width: 200px
}
#bet-notifications {
    color:red;
    padding: 5px;
}
#chips-spacer {
    padding: 5px;
    color: white;
    background-color: rgba(0,0,0,.4);
}
#chips-left-line {
    margin-bottom: 10px;
}
#all-in {
    margin: 10px 0 0 0;
}
#deal {
    margin: 0 0 10px 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

#betting-space img {
    height:75px;
}

#dealer-space > li {
    margin-left: -30px;
}
#bgm-toggle {
    position: absolute;
    left: 20px;
    top: 12px;
}
#credits {
    position: absolute;
    right: 5px;
    bottom: 5px;
}