header {
    padding-bottom: 20px;
}
body {
    color:black
}
nav {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: rgb(0,128,0);
    user-select: none;
}
nav div {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: green;
  }
  nav > div:last-child {
    margin-left: auto;
  }
.menuItems:hover {
    background-color: rgb(40,150,40);
}
#dealer-icon {
    height:100px
}
#card-icon {
    height: 200px;
}
img {
    padding: 5px;
}
#deck {
    height: 200px;
    position:relative;
    top:-10px
}
#announcements-box {
    height: 70px;
    background-color: gray;
    color:white;
    margin: 10px 0 10px 0;
}
tr {
    line-height: 70px;
}
button {
    margin: 10px;
    border: 2px solid black;
}
#player-space {
    height: 250px;;
}
#dealer-hand {
    background-color: rgba(0,0,0,.4);
    padding: 5px;
    margin-bottom:20px;
    color: pink;
}
#player-hand {
    background-color: rgba(0,0,0,.4);
    padding: 5px;   
    color: lightblue;
}
#reset-game:hover {
    cursor: pointer;
}
#dealer-space {
    height:250px;
}
#dealer-space img {
    width:130px;
    margin-bottom: 20px;
}
#player-space img {
    width:130px;
    margin-top: 20px;
}
.preload-elements img {
    height:50px;
    position: absolute;
    top: -100px;
}
#game-stats {
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    margin-bottom:20px;
    color: white;
    font-size: 12px;
}
#dealer-spacer {
    margin-top: 150px;
}